@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(100%) rotate(10deg) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(-10%) rotate(-2deg) scale(1.05);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}
