@use "/src/sass/base/variables.scss" as *;

.activities {
  padding-top: 60px;

  &__wrapper {
    margin-top: 20px;
    gap: 40px;
  }

  &__img {
    margin-top: 40px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  &__text {
    color: $dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    &_span {
      font-weight: 500;
      color: $ceramic;
    }
  }
}

@media screen and (min-width: 768px) {
  .activities {
    &__wrapper {
      margin-top: 40px;
    }
  }
}
